# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Archivos de OS X
.DS_Store
.AppleDouble
.LSOverride

# Archivos de Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/

# Archivos de log
*.log 