project_id  = "{{ project_id }}"
region      = "{{ region }}"
zone        = "{{ zone }}"
environment = "dev"

# Añade más variables según sea necesario para tu proyecto
# labels = {
#   environment = "dev"
#   app         = "mi-aplicacion"
# } 